@charset "UTF-8";



@font-face {
    font-family: texto;
    src: url(fontes/Montserrat-VariableFont_wght.ttf);
}

body {
    margin: 0px;
}

h1 {
    font-weight: bolder;
    font-size: 60px;
    font-family: texto;
    font-variant: small-caps;
}

header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 30px;
    margin-bottom: 80px;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header p {
    color: rgba(175, 172, 172, 0.897);
    margin-top: -15px;
    font-family: texto;
    padding-bottom: 30px;
}

main p {
    text-align: justify;
    margin-left: 50px;
    font-size: 30px;
    line-height: 60px;
    font-family: texto;
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 4vh;
    padding-top: 4vh;
}

div.fundo-flor {
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 600px;
    padding-top: 10px;
    box-shadow: inset 6px 6px 13px 13px rgba(0, 0, 0, 0.411);
    
    
}

div.fundo-flor > p {
    background-color: rgba(0, 0, 0, 0.397);
    padding: 5px;
    border-radius: 5px;
    margin-top: 75px;
    margin-left: 45px;
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

div.fundo-folha {
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    height: 600px;
    padding-top: 10px;
    box-shadow: inset 6px 6px 13px 13px rgba(0, 0, 0, 0.411);
    
}

div.fundo-folha > p {
    background-color: rgba(0, 0, 0, 0.397);
    width: 370px;
    height: 430px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 75px;
    margin-left: 45px;
    text-shadow: 1px 1px 0px black;
}

footer {
    text-align: center;
    background-color: black;
    padding: 10px;
    color: rgba(175, 172, 172, 0.897);
    font-family: texto;
}

footer a {
    text-decoration: none;
    color: white;
    

}

footer a:hover {
    text-decoration: underline;
}
